body{
    margin:0;
    font-family:Arial;
    background-color:#1e1e2f;
    color:white;
}

header{
    text-align:center;
    padding:40px;
}

header h1{
    margin:0;
    font-size:45px;
}

.menu{
    background-color:#111;
    padding:15px;
    text-align:center;
}

.menu a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

.glowny{
    width:80%;
    margin:auto;
    margin-top:30px;
}

.karta{
    padding:25px;
    margin-bottom:25px;
    border-radius:15px;
    box-shadow:0 0 10px black;
}

.kod{
    background-color:black;
    color:#07D080;
    padding:15px;
    border-radius:10px;
    margin-top:15px;
    font-family:monospace;
    overflow:auto;
}

.lista li{
    margin-top:10px;
}

img{
    width:100%;
    max-width:400px;
    border-radius:10px;
    margin-top:20px;
}

.stopka{
    background-color:#111;
    text-align:center;
    padding:20px;
}

a{
    color:white;
}

a:hover{
    color:silver;
}

.widok {
    margin-top: 10px;
    padding: 8px;
    background: rgba(0,0,0,0.2);
    border-left: 3px solid #4cc9f0;
    font-style: italic;
}

@media (max-width:768px){

    header{
        padding:25px 15px;
    }

    header h1{
        font-size:30px;
    }

    .menu{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px;
    }

    .menu a{
        margin:0;
        font-size:16px;
    }

    .glowny{
        width:95%;
        margin-top:20px;
    }

    .karta{
        padding:15px;
    }

    .karta h2{
        font-size:24px;
    }

    .karta p,
    .karta li{
        font-size:16px;
    }

    .kod{
        font-size:14px;
    }

    .stopka{
        font-size:14px;
        padding:15px;
    }
    

}